<div class="container-fluid container-xxl">
    <div class="row justify-content-sm-center h-100 mt-5 {{ notificationMsg ? 'pt-0' : 'pt-5' }}">
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-8 col-sm-10">
            <div *ngIf="notificationMsg" class="alert alert-success text-center" role="alert">
                {{notificationMsg}}
            </div>
            <div class="border rounded-3">
                <h2 class="p-4 mb-0 border-bottom text-center">
                    Login
                </h2>
                <app-login-form></app-login-form>
            </div>
        </div>
    </div>
</div>