<div class="clothes-hero-item container-fluid col-10 col-md-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-12 col-lg-5">
        <div class="py-4 bg-white">
          <img src="{{clothingItem.image}}" class="d-block mx-lg-auto img-fluid" height="500">
        </div>
      </div>
  
      <div class="col-lg-7">
        <h1 class="mb-4">
          {{clothingItem.title}}
        </h1>
        <p class="lead mb-4">
          {{ truncate(clothingItem.description, 240) }}
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a routerLink="/clothes/{{clothingItem.id}}" class="btn btn-outline-primary px-3 rounded-pill">View Details</a>
        </div>
      </div>
    </div>
  </div>
  